.cart {
    overflow: hidden;
}

.cartButtons {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 65px;
}

.removeButton {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 2;
    font-family: 'Permanent Marker';
    background-color: white;
    color: red;
    size: 50px;
    transition: 0.8s;
    &:hover {
        background-color: red;
        color: black;
    }
}

.checkoutButton {
    grid-row-start: 1;
    grid-column-start: 2;
    grid-column-end: -1;
    font-family: 'Permanent Marker';
    background-color: white;
    color: red;
    size: 50px;
    height: 100%;
    transition: 0.8s;
    &:hover {
        background-color: red;
        color: black;
    }
}

.cartItems {
    overflow: hidden;
    scroll-behavior: auto;
}

.cartCard {
    max-width: 100%;
    border: 5px solid black;
    border-right-style: 8px solid black;
    font: inherit;
    line-height: 1;
    padding: .5em 1em;
    color: black;
    text-decoration: none;
    margin: 10px;
    overflow: hidden;

    transition: 0.8s; 
    background: linear-gradient(
        120deg,
        white 0%,
        white 60%,
        yellow 60%,
        yellow 100%
    );
}

.cartCard:hover {
    transform: scale(1.02);
}

.cartCard img {
    overflow: hidden;
    height: 135px;
    float: left;
    margin-right: 2%;
}

.cartCard h2 {
    margin-top: -2%;
    font-family: 'Permanent Marker';
    font-size: 24px;
    color: red;
}

.cartCard .text {
    color: red;
    font-family: 'Permanent Marker';
    font-size: 19px;
}

.cartCard .quantity {
    width: 100%;
}

.cartCard .quantityText {
    color: red;
    font-family: 'Permanent Marker';
    font-size: 19px;
    display: inline;
    width: 5px;
}


.cartCardButton {
    font-family: 'Permanent Marker';
    background-color: white;
    color: red;
    size: 50px;
    transition: 0.8s;
    &:hover {
        background-color: red;
        color: black;
    }
}

.cartSubtotal {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 2;
    font-family: 'Permanent Marker';
    background-color: white;
    color: red;
    max-width: 100%;
    height: 94%;
    border: 2px solid black;
    border-right-style: 8px solid black;
    text-decoration: none;
    overflow: hidden;

    & p {
        margin-left: 0.5em;
    }
    
}

$colors: (
    linkBtn: black
);

@each $button, $color in $colors {
    .#{$button} {
      --color: #{$color};
      --hover: #{adjust-hue($color, 45deg)};
    }
  }