@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

.navbar {
    position: fixed;
    display: grid;
    width: 110%;
    grid-template-columns: repeat(3, 1fr);
    background-color: white;
    border-bottom: 10px solid black;
    margin: -10px -1em;
    grid-column-start: 1;
    grid-column-end: 4;
}

.marker {
  font-family: 'Permanent Marker';
  font-size: 24px;
  grid-column-start: 1;
  grid-column-end: 2;
  margin-left: 17px;
}

.links {
  grid-column-start: 1;
  grid-column-end: 3;
}

.linkBtn {
  display: flex;
  justify-self: center;
  width: 10%;
  border: 2px solid black;
  font: inherit;
  line-height: 1;
  padding: .5em 1em;
  color: black;
  text-decoration: none;
  margin: 10px;

  box-shadow: 
    0.3em 0.3em 0 0 var(--color),
    inset 0.1em 0.1em 0 0 var(--color);

  transition: 0.8s;
    
  background: -webkit-linear-gradient(0deg, transparent 50%, yellow 50%);
  background-size: 400px 80px;


  @media only screen and (max-width: 590px) {
    scale: 0.95;
    & .cartSvg {
      margin-left: -80%;
    }
  }

  @media only screen and (max-width: 500px) {
    scale: 0.95;
    & .cartSvg {
      margin-left: -110%;
    }
  }

}

.linkBtn:hover {
  background-position: 200px 0
}

.navbar p {
  font-family: 'Permanent Marker';
  font-size: 23px;
  color: red;
  border-radius: 25px;
  position: relative;
  transform: translateY(-10%) translateX(-10%);
  padding: 0;
  margin: 0;
}

.cartSvg {
  align-items: center;
  margin-left: 0%;
  @media only screen and (max-width: 2000px) {
    margin-left: -55%;
  }
  
}


.account {
  padding: 0;
  margin: 0;
  transform: scale(1.2) translateX(-7%);
}

.box3 {
  display: flex;
  justify-self: center;
  grid-column: 3;
}

  $colors: (
  linkBtn: black
);

@each $button, $color in $colors {
  .#{$button} {
    --color: #{$color};
    --hover: #{adjust-hue($color, 45deg)};
  }
}