.card {
    max-width: 100%;
    border: 5px solid black;
    border-right-style: 8px solid black;
    font: inherit;
    line-height: 1;
    padding: .5em 1em;
    color: black;
    text-decoration: none;
    margin: 10px;
    overflow: hidden;

    transition: 0.8s;
    
    background: linear-gradient(
        120deg,
        white 0%,
        white 60%,
        yellow 60%,
        yellow 100%
    );

}

.card:hover {
    transform: scale(1.02);
}

.card img {
    overflow: hidden;
    height: 135px;
    float: left;
    margin-right: 2%;
}

.card h2 {
    margin-top: -2%;
    font-family: 'Permanent Marker';
    font-size: 24px;
    color: red;
}

.card .description {
    font-family: 'Permanent Marker';
    font-size: 16px;
}

.card .price {
    color: red;
    font-family: 'Permanent Marker';
    font-size: 19px;
}

.cardButton {
    font-family: 'Permanent Marker';
    background-color: white;
    color: red;
    size: 50px;
    transition: 0.8s;
    &:hover {
        background-color: red;
        color: black;
    }
}

$colors: (
    linkBtn: black
);

@each $button, $color in $colors {
    .#{$button} {
      --color: #{$color};
      --hover: #{adjust-hue($color, 45deg)};
    }
  }